@import "tailwindcss";



a,
button,
input,
textarea,
[role="button"] {
  cursor: pointer !important;
}

@keyframes sparkle {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.animate-sparkle {
  animation-name: sparkle;
  animation-timing-function: ease-out;
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  font-family: 'Nunito', sans-serif;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-warm-orange {
  scrollbar-color: #F77F00 #FAFAFA;
}